*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	padding-left:0px;
	padding-top: 0px;
}

	#nav-bar
	{
	position:sticky;
	top: 0;
	z-index:10;
	}
	.navbar
	{
		background-image: linear-gradient(to right, #dbbebb, #c28285);
		padding: 0 !important;
	}
	.navbar-nav  li
	{
		padding:0 10px;
	}
	.navbar-toggler
	{
		outline: none !important;
		
	}
	.fa-bars
	{
		
		color: #fff;
		font-size:30px !important;
	}





form
{
	margin: 10px 0;
}
button{
	border: none;
	outline: none;
	width :50px;
	height:30px;
	cursor:pointer;
	
	
}




#output{
	height: 400px;
	width: 700px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 1rem;
	padding: 1rem;
}
.active{
	
}
/*--------------footer----------*/
#footer
{
	background-image: linear-gradient(to right, #dbbebb, #c28285);
	color: #000;
}
.footer-img
{
	width:100%
}	
hr
{
	background-color:#000;
}
.copyright
{
	margin-bottom:0;
	padding-bottom:30px;
	text-align:center ;
}